<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" 
            *ngFor="let oddNumber of oddNumbers"
            [ngClass]="{odd: oddNumber % 2 == 1}"
            [ngStyle]="{backgroundColor: oddNumber % 2 == 1 ? 'yellow' : 'transparent'}">
            {{ oddNumber }}
          </li>
        </div> 
        <div *ngIf="!onlyOdd">
          <li 
          class="list-group-item" 
          *ngFor="let evenNumber of evenNumbers"
          [ngClass]="{odd: evenNumber % 2 == 1}"
          [ngStyle]="{backgroundColor: evenNumber % 2 == 1 ? 'yellow' : 'transparent'}">
            {{ evenNumber }}
          </li>
        </div>
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li 
            class="list-group-item" 
            *ngFor="let evenNumber of evenNumbers"
            [ngClass]="{odd: evenNumber % 2 == 1}"
            [ngStyle]="{backgroundColor: evenNumber % 2 == 1 ? 'yellow' : 'transparent'}">
              {{ evenNumber }}
            </li>
          </div>
        </ng-template>
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <!-- <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Style me with better directive!</p> -->
      <p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with better directive!</p> <!-- Can remove the square brackets and 
                                                                                                      remove the single quotation marks
                                                                                                      and that is a special case
                                                                                                      if you are passing down a string.
                                                                                                      But make sure you won't confuse others, 
                                                                                                      better if it's clear this is property
                                                                                                      binding. -->
    </div>
  </div>
</div>